
        <div class="head container border-box">
            <div>
                <a href="#"><img class="border-box" src="..img_2.jpg"></a>
        
                    <p class="name">
                        <a href="#">JChan</a>
                        <a class="attention" href="#"><i class="icon-plus"></i>关注</a>
                    </p>
                    <p class="grade"><img src="../image/grade.png">1</p>    

                <div class="clear">
                </div>
            </div>

            <div class="clear">
            </div>
        </div>

        <!-- 他的基本信息 -->
        <div>
            <table>
                <tr class="border-box honor">
                    <td>头衔</td>
                    <td>JChan</td>
                </tr>

                <tr class="border-box">
                    <td>擅长领域</td>
                    <td>cs</td>
                </tr>

                <tr class="border-box">
                    <td>学校</td>
                    <td>GDUT</td>
                </tr>

                <tr class="border-box">
                    <td>学院</td>
                    <td>CN</td>
                </tr>
            </table>
        </div>

        
    
